html {
  scroll-behavior: smooth;
}

#home {
  background: url("../images/background.jpg");
  background-size: cover;
  height: 100vh;
  margin-bottom: 0;
}

#intro {
  padding-top: 15%;
}

#about {
  margin: 0;
  background: #d1b8c5;
  min-height: 100vh;
}

#profile-img {
  border-radius: 50%;
  border: 15px solid #343a40;
}

#portfolio {
  margin: 0;
  background: #392a3d;
  min-height: 100vh;
}

.portfolio-item {
  margin-bottom: 4vh;
}

.portfolio-item .btn-primary {
  background: #d1b8c5;
  border: 1px solid #343a40;
}

#contact {
  margin: 0;
  background: #343a40;
  min-height: 100vh;
}

.contact-inputs {
  width: 100%;
  margin: -15px 0 20px;
}

#footer {
  background: url("../images/background.jpg");
  height: 15vh;
}
